:root {
  --elements: rgb(255, 255, 255);
  --background: rgb(250, 250, 250);
  --text: rgb(17, 21, 23);
  --input: rgb(133, 133, 133);
}

@media (prefers-color-scheme: dark) {
  :root {
    --elements: rgb(43, 57, 69);
    --background: rgb(32, 44, 55);
    --text: rgb(255, 255, 255);
    --input: rgb(133, 133, 133);
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
a,
p,
span,
button {
  font-family: var(--font-nunito-sans);
}
